  
  .popup-wrapper {
    position: relative;
  }
  
  .popup-container {
    background-color: #ffd3e0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
  }
  
  .popup-container h1 {
    color: #ff4081; /* Pink color for the heading */
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .popup-container p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #333;
  }
  
  .button {
    background-color: #4caf50; /* Green button color */
    color: white;
    font-size:2px; /* Smaller font size */
    /* padding: 8px 16px;  */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
    transition: background-color 0.3s ease; /* Smooth transition for background color */
    margin-left: 15px;
    
  }
  
  .button:hover {
    background-color:#B6C7AA; /* Dark pink color on hover */
  }

  
  .calendar-info {
    margin-top: 20px;
  }
  
  .confetti-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Ensure it doesn't block clicks */
  }
  
 